$myColor: rgb(124, 115, 115);
$fullWidth:100vw;
$mobile:450px;

$lightBackground:#faf3e0;
$lightColor:#1e212d;
$lightHeader:#b68973;
$lightItem:#eaddd2;

$darkBackground:#393232;
$darkColor:#ed8d8d;
$darkHeader:#9b5151;
$darkItem:#4d4545;

$fullHeight:100%;
